/* =============================

   navber part start
=============================== */
/* =============================

   common part start
=============================== */

.title h4 {
    font-size: 18px;
    font-weight: 600;
    color: #E5745D;
    font-family: "Vollkorn", serif;
    text-align: center;


}

.title h2 {
    font-size: 50px;
    font-weight: 600;
    color: #00413D;
    font-family: "Vollkorn", serif;
    width: 538px;
    text-align: center;
    margin: auto;
    padding-top: 11px;
    line-height: 60px;
    margin-bottom: 40px;


}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}

/* =============================

   common part end
=============================== */
a {
    text-decoration: none;
}

.navbar {
    padding: 18px 0;
}

.nav-link {
    color: #00413D;
    font-size: 16px;
    font-weight: 400;
    font-family: "Jost", sans-serif;
    transition: .4s;
    padding-right: 0 !important;
    padding-left: 0 !important;

}

.nav-link:hover {
    color: #E5745D;

}

.navbar-nav {
    column-gap: 50px;
}

.nav_btn {
    background: #E5745D;
    padding: 14px 41px;
    border: 2px solid white;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    font-family: "Jost", sans-serif;



}

/* =============================

   navber part end
=============================== */
/* =============================

   Banner part start
=============================== */

.banner {
    background-image: url('../images/banner.png');
    width: 100%;
    height: 850px;
    position: relative;
    overflow: hidden;

}

.overly {
    width: 36%;
    height: 100%;
    background-image: url('../images/HD-wallpaper-men-model-man.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    right: -36%;
    transition: .4s;
}

.banner:hover .overly {
    right: 0;

}

.banner .banner_main {
    padding: 221px 0;

}

.banner .banner_main h2 {
    font-size: 100px;
    font-weight: 700;
    font-family: "Vollkorn", serif;
    color: white;



}

.banner .banner_main p {
    font-size: 20px;
    font-weight: 400;
    font-family: "Jost", sans-serif;
    color: white;
    width: 670px;
    padding-top: 16px;
    padding-bottom: 50px;



}

.banner .banner_main button {
    background: #E5745D;
    padding: 14px 41px;
    border: 2px solid white;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    font-family: "Jost", sans-serif;
    border: 0;




}

.banner .banner_main span {
    display: block;



}


/* =============================

   Banner part end
=============================== */
/* =============================

   Service part start
=============================== */
.service {
    padding-top: 220px;
    padding-bottom: 120px;
}


.service .card {
    padding: 50px 35px;
    border: 0;
    -webkit-box-shadow: 0px 11px 27px -6px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 11px 27px -6px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 11px 27px -6px rgba(0, 0, 0, 0.6);
}

.service .card img {
    width: 15%;
    padding-bottom: 26px;
}

.service .card .card-title {
    font-size: 26px;
    font-weight: 900;
    color: #00413D;
    font-family: "Vollkorn", serif;

}

.service .card .card-text {
    font-size: 16px;
    font-weight: 400;
    color: #00413D;
    font-family: "Jost", sans-serif;
    width: 245px;
    line-height: 24px;

}

.service .card-body .icon {
    font-size: 20px;

}

.service .card-body {
    padding: 0px;

}

/* =============================

   Service part end
=============================== */
/* =============================

   about part start
=============================== */
.about {
    padding-bottom: 80px;
}

.about .box {
    display: flex;
    column-gap: 30px;
}

.about .box .box2 {
    display: flex;

    flex-direction: column;
    row-gap: 30px;

}

.about .about_body h4 {
    font-size: 18px;
    font-weight: 600;
    color: #E5745D;
    font-family: "Vollkorn", serif;
    position: relative;
    margin-left: 50px;

}

.about .about_body h4::after {
    width: 40px;
    height: 2px;
    background: #E5745D;
    position: absolute;
    top: 8px;
    left: -48px;
    content: "";
}

.about .about_body h2 {
    font-size: 50px;
    font-weight: 600;
    color: #00413D;
    font-family: "Vollkorn", serif;


}

.about .about_body p {
    font-size: 16px;
    font-weight: 400;
    color: #00413D;
    font-family: "Jost", sans-serif;
    width: 570px;


}

.about .about_body a {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    background: #E5745D;
    font-family: "Jost", sans-serif;
    padding: 16px 44px;
    margin-top: 50px;
    display: inline-block;


}

/* =============================

   about part end
=============================== */
/* =============================

   progesber part start
=============================== */
.progres .raduis {
    width: 180px;
    height: 180px;
    border: 10px solid #E5745D;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    font-weight: 500;
    color: #E5745D;
    font-family: "Vollkorn", serif;
    margin-bottom: 40px;
}

.progres .raduis h3 {
    font-size: 26px;
    font-weight: 500;
    color: #00413D;
    font-family: "Vollkorn", serif;


}

/* =============================

   progesber part end
=============================== */
/* =============================

   Project part Start
=============================== */
.project {
    padding: 120px 0px;
}

.project .box {
    display: flex;
    justify-content: space-between;
}

.project .box h4 {
    font-size: 18px;
    font-weight: 600;
    font-family: "Vollkorn", serif;
    color: #E5745D;
}

.project .box h2 {
    font-size: 50px;
    font-weight: 600;
    font-family: "Vollkorn", serif;
    color: #00413D;
    padding-top: 8px;
    padding-bottom: 40px;
}

.project .box .myicon {
    background: #E5745D;
    padding: 15px;
    color: white;
    font-size: 18px;
    border: 1px solid transparent;
    transition: .4s;


}

.project .box .myicon:hover {
    background: transparent;
    color: black;
    border-color: red;






}

.project .card {
    width: 100% !important;
    border: 0px;
    -webkit-box-shadow: 3px 10px 34px -11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 10px 34px -11px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 10px 34px -11px rgba(0, 0, 0, 0.75);

}

.project .mainbtn {
    display: flex;
    justify-content: center;

}

.project .mainbtn a {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    background: #E5745D;
    font-family: "Jost", sans-serif;
    padding: 16px 44px;
    margin-top: 80px;
    display: inline-block;


}

/* =============================

   Project part end
=============================== */
/* =============================

   portfolio part start
=============================== */
.portfolio{
    padding-bottom: 120px;
}
.portfolio .box {
    text-align: center;
    margin: 0 auto;

}

.portfolio .box ul li {
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    color: #00413D;
    font-family: "Vollkorn", serif;


}

.portfolio .card {
    width: 100% !important;
}
.portfolio .card .card-body {
    background: #00413D;
    color: white;
}

/* =============================

   portfolio part end
=============================== */
/* =============================

   testimonial part start
=============================== */
.testimonial {
    background: #F9F4F1;
    padding-top: 120px;
    padding-bottom: 80px;
}
.testimonial .item{
    width: 100%;
    padding: 30px 40px;
    background: white;
    border-top: 7px solid #E5745D;
    position: relative;
    
}
.testimonial .item p{
    font-size: 16px;
    font-weight: 500;
    color: #00413D;
    font-family: "Jost", sans-serif;
    width: 476px;
    line-height: 26px;
    
}

.testimonial .imageIcon {
    position: absolute;
    left: 62px;
    bottom: -33px;
}
.testimonial ul{
    list-style: none;
}
/* =============================

   testimonial part end
=============================== */
/* =============================

   Contact part start
=============================== */

 .contact{
    padding: 125px 0px;
 }

 .contact .contact-title h4{
    text-align: left;

 }
 .contact .contact-title h2{
    text-align: left;
    width: auto;

 }
 .contact .mainInput{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
 }

 .contact .input{
    width: 48%;
 }
 .contact .input5{
    width: 100%;
 }
 .contact input{
   padding: 15px 20px;
   font-size: 18px;
   color: rgba(0, 65, 61,0.7);
   font-family: "Jost", sans-serif;
   font-weight: 400;
   border: 0;
   border-bottom: 1px solid rgba(0, 65, 61,0.7);
   outline: 0;
   


 }
 .contact input::placeholder{
    font-size: 18px;
   color: rgba(0, 65, 61,0.7);
   font-family: "Jost", sans-serif;
   font-weight: 400;
    
 }
 .contact .mainbtn {
    
    

}
.contact .mainbtn a {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    background: #E5745D;
    font-family: "Jost", sans-serif;
    padding: 16px 44px;
    margin-top: 50px;
    display: inline-block;


}
/* =============================

   Contact part end
=============================== */
/* =============================

   footer part end
=============================== */
.footer {
    background: #00413D;
    padding: 80px 0px;
    color: #fff;
   
}

.footer .box{
    text-align: center;
}
.footer .ulOne{
    column-gap: 60px;
    padding: 60px 0px;
}
.footer .ulOne li{
    border-right: 1px solid rgba(255, 255, 255,0.1);;
    padding-right: 32px;
}
.footer .ulOne .lastLI{
    border-right: none;
    padding-right: 0;
    
}
.footer .ulTwo{
    column-gap: 32px;
    font-size: 25px;
    
   

}
.footer .ulTwo li{
    width: 50px;
    height: 50px;
    background: #E5745D;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.footer .ulTwo li i{
   color: white;

   

}
.footer .copyrigth{
   text-align: center;
   font-size: 12px;
   font-weight: 400;
   color: rgba(255, 255, 255,0.1);
  
   font-family: "Jost", sans-serif;
   border-top: 2px solid rgba(255, 255, 255,0.1);
   width: 1385px;
   margin: 0 auto;
   padding: 40px;
   margin-top: 50px;

   

}
/* =============================

   footer part end
=============================== */